<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.longname }}</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/Country.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2010948_ksn7jvqjgjl.css">

</head>
<body>
    <div class="container">
        {{ if data.flagUrl }}
        <div id="img">
            <img src="{{data.flagUrl}}" alt="">
        </div>
        {{ /if }}


        <span id="longname">{{ data.longname }}</span>

        {{ if data.abstract }}
        <div class="abstract">{{ data.abstract }}</div>
        {{ /if }}
        <table>
            {{ if data.capital }}
            <tr>
                <td colspan="2"><i class="iconfont icon-xingxing"></i>&nbsp;Capital&nbsp;<i class="iconfont icon-xingxing"></i></td>
                <td><a href="{{ data.capital.uri }}">{{ data.capital.name }}</a></td>
            </tr>
            {{ /if }}

            {{ if data.area }}
            <tr>
                <td colspan="2"><i class="iconfont icon-map"></i>&nbsp;Area&nbsp;<i class="iconfont icon-map"></i></td>
                <td>{{ data.area }} km²</td>
            </tr>
            {{/if}}

            {{ if data.gov }}
                <tr>
                    <td colspan="2"><i class="iconfont icon-ziyuan"></i>&nbsp;Government Type&nbsp;<i class="iconfont icon-ziyuan"></i></td>
                    <td><a href="{{data.gov.uri}}">{{ data.gov.name }}</a></td>
                </tr>
            {{ /if }}

            {{ if data.gdp }}
            <tr>
                <td colspan="2"><i class="iconfont icon-qiandai"></i>&nbsp;GDP at Year {{ data.gdpYear }}&nbsp;<i class="iconfont icon-qiandai"></i></td>
                <td>$ {{ data.gdp }} {{if data.gdpRank}}, rank position: {{data.gdpRank}} {{/if}}</td>
            </tr>
            {{ /if }}


            {{ if data.leader }}
                {{ each data.leader}}
                    <tr>
                        {{if ($index == 0)}}
                        <td rowspan="{{data.leader.length}}">Leader(s)</td>
                        {{/if}}
                        <td><i class="iconfont icon-lingdao"></i>&nbsp;{{ $value.TitleName }}&nbsp;<i class="iconfont icon-lingdao"></i></td>
                        <td><a href="{{ $value.leaderName.uri }}">{{ $value.leaderName.name }}</a></td>
                    </tr>
                {{ /each }}
            {{ /if }}

            {{ if data.label }}
            <tr>
                <td colspan="2"><i class="iconfont icon-youtube"></i>&nbsp;Touropia on YouTube&nbsp;<i class="iconfont icon-youtube"></i></td>
                <td><a href="https://www.youtube.com/user/touropia/search?query={{ data.label }}">Video of {{ data.label }}</a></td>
            </tr>
            {{/if}}

            {{ if data.largestCities }}
                {{ each data.largestCities}}
                <tr>
                    {{if ($index == 0)}}
                    <td rowspan="{{data.largestCities.length}}">City(s)</td>
                    {{/if}}
                    <td><i class="iconfont icon-city"></i>&nbsp;<a href="/searchqueryCity?citycode={{$value.cityCode}}" target="_blank">{{ $value.cityName }}</a>&nbsp;<i class="iconfont icon-city"></i></td>
                    <td>Population: {{ $value.population }}</td>
                </tr>
                {{ /each }}
            {{ /if }}
        </table>
    </div>

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>