<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2010948_i7ogz530wec.css">
</head>
<body>
<div class="title">
    <span><i class="icon iconfont icon-guojia"></i>&nbsp;&nbsp;Welcome to H4212pedia&nbsp;&nbsp;<i class="icon iconfont icon-guojia"></i></span>
</div>
<div class="wrap" id="app">
    <form action="/searchquery" method="get">
    <div class="search_form">
        <div class="form_group">
            <input type="text" name="search" class="input_txt" list="suggestions" placeholder="Search in H4212pedia"/>
            <datalist id="suggestions">
                {{each suggestions}}
                <option value="{{ $value.country.simpleName }}">
                {{/each}}
            </datalist>
            <button type="submit" class="input_sub">
                <i class="icon iconfont icon-search"></i>
            </button>

<!--            <label class="radio-inline">-->
<!--                <input type="radio" name="countryorcity" id="inlineRadio1" value="country"> Country-->
<!--            </label>-->
<!--            <label class="radio-inline">-->
<!--                <input type="radio" name="countryorcity" id="inlineRadio2" value="city"> City-->
<!--            </label>-->
        </div>
    </div>
    </form>
</div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $(function (){

        })
    </script>
</body>
</html>
