<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="title">
    <span>Welcome to H4212pedia</span>
</div>
<div class="wrap" id="app">
    <form action="/searchquery" method="get">
    <div class="search_form">
        <div class="form_group">
            <input type="text" name="search" class="input_txt" list="suggestions" placeholder="Search in H4212pedia"/>
            <datalist id="suggestions">
                {{each suggestions}}
                <option value="{{ $value.country.simpleName }}">
                {{/each}}
            </datalist>



            <button type="submit" class="input_sub">
                Search
            </button>

            <label class="radio-inline">
                <input type="radio" name="countryorcity" id="inlineRadio1" value="country"> Country
            </label>
            <label class="radio-inline">
                <input type="radio" name="countryorcity" id="inlineRadio2" value="city"> City
            </label>
        </div>
<!--        <div id="hotkeycontainer">-->
<!--            {{ each hotkeys }}-->
<!--            <a class="hotkeys" href="#">{{ $value }}</a>-->
<!--            {{ /each }}-->
<!--        </div>-->
    </div>
    </form>
</div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        $(function (){
            $('.hotkeys').on('click',function (event){
                $('.input_txt').val($(this).text())
                //Ajax
            })



        })
    </script>
</body>
</html>
